# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_ACCESS_TOKEN_SECRET=51ebG4nS6XoNRF8pYKCQJ9DvTL7WBZEj2mixM0qPH3A
JWT_REFRESH_TOKEN_SECRET=kYp8vT2cG5NDE3wLfQRxJaZMX7Vm9bKs6HqtPo4jUzC
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_ISSUER=relicare-backend
JWT_AUDIENCE=relicare-frontend

# Database URLs
POSTGRES_DATABASE_URL="postgresql://root:biddiaSQL@localhost:5432/reliacare?schema=reliacare"
MONGODB_DATABASE_URL="mongodb://localhost:27017/reliacare"